@using RecipeBook.Core.Domain.Recipes
@using System.Net

@inject HttpClient _http
@inject NavigationManager _navigationManager

<nav class="nav flex-column">
    <FetchList @ref="_fetchList"
               TItem="Recipe"
               Context="recipes"
               Url="@("/api/v1/recipes/")">
        <ItemsTemplate>
            @foreach (Recipe recipe in recipes)
            {
                <NavLink class="no-underline"
                         href="@recipe.ToUrlSafeName()"
                         Match="NavLinkMatch.All">
                    <RecipeItem Recipe="@recipe"/>
                </NavLink>
            }
        </ItemsTemplate>
        <CreateNewButtonTemplate Context="recipes">
            <button type="button" class="btn btn-outline-secondary mb-3"
                    @onclick="_ => recipes.Add(CreateNewRecipe(recipes.Count + 1))">
                Skapa recept
            </button>
        </CreateNewButtonTemplate>
        <LoadingTemplate>
            <h3>Laddar...</h3>
        </LoadingTemplate>
        <NotFoundTemplate>
            <h3>Finns inga recept</h3>
        </NotFoundTemplate>
    </FetchList>
</nav>

@code
{
#nullable enable

    protected override void OnInitialized()
    {
        _navigationManager.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (_fetchList is null) return;
        await _fetchList.ReloadItems();
        StateHasChanged();
    }

    private Recipe CreateNewRecipe(int number)
    {
        return new() { Name = $"Skriv receptnamn här ({number})" };
    }

    private FetchList<Recipe>? _fetchList;
}