@using RecipeBook.Core.Domain.Recipes

@inherits SyncedView<Step>

@inject IJSRuntime _js;

<div class="d-flex">
    <h5 class="me-4">@Step.Number.</h5>
    <div class="d-flex w-100 flex-column">
        <textarea @ref="Input" class="remove-input-style w-100 step" type="text" @bind="Instruction" @bind:event="oninput"></textarea>
        @ChildContent
    </div>
</div>

@* ReSharper disable twice UnusedParameter.Local *@
@* ReSharper disable twice InconsistentNaming *@

@code {
#nullable enable

    [Parameter]
    public Step Step { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = __builder => { };

    protected ElementReference Input;

    protected string Instruction
    {
        get => Step.Instruction;
        set
        {
            _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", Input);
            Step.Instruction = value;
            ResourceHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        Initialize(Step);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", Input);
    }

}