@using RecipeBook.Core.Domain.Recipes

@inject IJSRuntime _js;

<SyncedView @ref="_syncedView"
            TResource="Step"
            @attributes="AllOtherAttributes">
    <div class="d-flex">
        <h5 class="me-4">@Step.Number.</h5>
        <div class="d-flex w-100 flex-column">
            <textarea @ref="Input" class="remove-input-style w-100 step" type="text" @bind="Instruction" @bind:event="oninput"></textarea>
            @ChildContent
        </div>
    </div>
</SyncedView>

@* ReSharper disable twice UnusedParameter.Local *@
@* ReSharper disable twice InconsistentNaming *@

@code {
#nullable enable

    [Parameter]
    public Step Step { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = __builder => { };

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; } = null!;

    private ElementReference Input;

    private string Instruction
    {
        get => Step.Instruction;
        set
        {
            _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", Input);
            Step.Instruction = value;
            _syncedView.ResourceHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _syncedView.Initialize(Step);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", Input);
    }

    private SyncedView<Step> _syncedView = null!;
}