img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem;

    transition: all;
    transition-duration: 0.1s;
}

.upload-button {
    opacity: 0;
    transition: all;
    transition-duration: 0.1s;
    
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

#error-text {
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    
    background: rgba(0,0,0,0.7);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0;
    z-index: 1;
}

div.relative-container {
    position: relative;
}

div.relative-container:hover .image {
    filter: opacity(50%);
    z-index: 0;
}

div.relative-container:hover .upload-button{
    opacity: 1;
    z-index: 2;
}