<div class="relative-container p-0" onclick="document.getElementById('inputFile').click();">
    <style>
        #inputFile {
            display:  none;
        }
    </style>
    <InputFile class="input" id="inputFile" OnChange="UploadImage"/>
    @if (ErrorMessage is not null)
    {
        <h3 class="text-warning" id="error-text">@ErrorMessage</h3>
    }
    <h2 id="click-label">Tryck för att ladda upp en ny bild...</h2>
    <img class="mb-2 image" src="@ImagePath" alt="@AltText"/>
</div>

@code {
    #nullable enable

    [Parameter]
    public string ImagePath { get; set; } = null!;

    [Parameter]
    public string AltText { get; set; } = null!;

    [Parameter]
    public string? ErrorMessage { get; set; }

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> UploadImage { get; set; } = EventCallback<InputFileChangeEventArgs>.Empty;

}