@using RecipeBook.Core.Domain.Recipes

<div class="bg-white p-2" style="border-radius: 1rem">
    <FetchList TItem="Ingredient"
               Context="ingredient"
               Url="@($"/api/v1/recipes/{RecipeName}/ingredients")">
        <Header>
            <h2>Ingredienser</h2>
        </Header>
        <ItemTemplate>
            @ingredient.Name
        </ItemTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

}