@page "/{recipeNameUrlSafe}"

@using RecipeBook.Core.Domain.Recipes
@using System.Net
@using Newtonsoft.Json

@inject HttpClient Http

<div class="p-3 bg-light">
    @if (_recipe is not null)
    {
        <RecipeView Recipe="@_recipe" />
    }
    else if (_responseStatus is null)
    {
        <RecipePlaceholder RecipeNameUrlSafe="@RecipeNameUrlSafe"/>
    }
    else if (_responseStatus == HttpStatusCode.NotFound)
    {
        <h2>Kunde inte hitta receptet</h2>
    }
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeNameUrlSafe { get; set; } = "Does-not-exist";

    private Recipe? _recipe;

    private HttpStatusCode? _responseStatus;

    protected override async Task OnParametersSetAsync()
    {
        _recipe = null;
        _responseStatus = null;

        HttpResponseMessage response = await Http.GetAsync($"/api/v1/recipes/{RecipeNameUrlSafe}");
        if (response.StatusCode == HttpStatusCode.OK)
        {
            var serializerOptions = new JsonSerializerSettings
            {
                TypeNameHandling = TypeNameHandling.Auto
            };

            string json = await response.Content.ReadAsStringAsync();
            _recipe = JsonConvert.DeserializeObject<Recipe>(json, serializerOptions);
            
            return;
        }
        _responseStatus = response.StatusCode;
    }

}