@using RecipeBook.Core.Domain.Recipes

@inherits SyncedView<Step>

@inject IJSRuntime _js;

<div class="d-flex">
    <h5 class="me-4">@Step.Number.</h5>
    <textarea @ref="_input" class="remove-input-style w-100 step" type="text" @bind="Instruction" @bind:event="oninput"></textarea>
</div>

@code {
#nullable enable

    [Parameter]
    public Step Step { get; set; } = null!;

    private ElementReference _input;

    private string Instruction
    {
        get => Step.Instruction;
        set
        {
            _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", _input);
            Step.Instruction = value;
            ResourceHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        Initialize(Step);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("interopFunctions.textareaAutoHeight", _input);
    }

}