@using RecipeBook.Core.Domain.Recipes

<div class="ms-5">
    <FetchList TItem="Step"
               Context="step" 
               Url="@($"/api/v1/recipes/{RecipeName}/steps")">
        <Header>
            <h2>Steg</h2>
        </Header>
        <ItemTemplate>
            @step.Instruction
        </ItemTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

    protected override async Task OnInitializedAsync()
    {
        await SetSaving.InvokeAsync(("step", LoadStatus.Loading));
        await Task.Delay(3000);
        await SetSaving.InvokeAsync(("step", LoadStatus.Success));
    }
}