@using System.Net
@using Newtonsoft.Json
@using RecipeBook.Core.Application.Logic
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.Text
@using System.Collections

@typeparam TItem

@inject HttpClient _http

@Header
@if (_items is not null)
{
    @ItemsTemplate(_items)
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary mb-3"
                @onclick="_ => _items.Add(CreateNewItem(_items.Count + 1))">
            @CreateNewItemText
        </button>
    </div>
}
else if (_responseStatus is null)
{
    @LoadingTemplate
}
else if (_responseStatus == HttpStatusCode.NotFound)
{
    @NotFoundTemplate
}

@* ReSharper disable twice InconsistentNaming *@
@* ReSharper disable twice UnusedParameter.Local *@

@code {
#nullable enable

    [Parameter]
    public string Url { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; }

    [Parameter]
    public Func<int, TItem> CreateNewItem { get; set; } = null!;

    [Parameter]
    public string CreateNewItemText { get; set; } = "Lägg till";

    [Parameter]
    public RenderFragment<ObservableCollection<TItem>> ItemsTemplate { get; set; } = null!;

    [Parameter]
    public RenderFragment LoadingTemplate { get; set; } = __builder =>
    {
        <LoadingIndicator Status="@LoadStatus.Loading"/>
    };

    [Parameter]
    public RenderFragment NotFoundTemplate { get; set; } = __builder =>
    {
        <p>Kunde inte hitta resurs</p>
    };

}