@using System.Net
@using Newtonsoft.Json
@using RecipeBook.Core.Application.Logic

@typeparam TItem

@inject HttpClient _http

@Header
@if (_items is not null)
{
    @ItemsTemplate(_items)
}
else if (_responseStatus is null)
{
    @LoadingTemplate
}
else if (_responseStatus == HttpStatusCode.NotFound)
{
    @NotFoundTemplate
}

@* ReSharper disable twice InconsistentNaming *@
@* ReSharper disable twice UnusedParameter.Local *@
@code {
#nullable enable

    [Parameter]
    public string Url { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public RenderFragment<IEnumerable<TItem>> ItemsTemplate { get; set; } = null!;

    [Parameter]
    public RenderFragment LoadingTemplate { get; set; } = __builder =>
    {
        <LoadingIndicator Status="@LoadStatus.Loading"/>
    };

    [Parameter]
    public RenderFragment NotFoundTemplate { get; set; } = __builder =>
    {
        <p>Kunde inte hitta resurs</p>
    };

    private IList<TItem>? _items;

    private HttpStatusCode? _responseStatus;

    protected override async Task OnInitializedAsync()
    {
        _items = null;
        _responseStatus = null;

        HttpResponseMessage response = await _http.GetAsync(Url);
        if (response.StatusCode == HttpStatusCode.OK)
        {
            var serializerOptions = new JsonSerializerSettings
            {
                TypeNameHandling = TypeNameHandling.Auto
            };

            string json = await response.Content.ReadAsStringAsync();
            _items = JsonConvert.DeserializeObject<IList<TItem>>(json, serializerOptions);
            
            return;
        }
        _responseStatus = response.StatusCode;
    }

}