@if (Status is LoadStatus.None)
{
}
else if (Status is LoadStatus.Loading)
{
    <div class="spinner-border text-success m-auto" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (Status is LoadStatus.Success)
{
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check2 text-success m-auto" fill="currentColor" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </svg>
} else if (Status is LoadStatus.Fail)
{
    <p>FAIL</p>
}

@code {
    #nullable enable
    
    [Parameter]
    public LoadStatus Status { get; set; }
}