@inherits LayoutComponentBase
@implements ITitleable

<TitleBar PageTitle="@_pageTitle"/>

<main class="container">
    <div class="row">
        <div class="col-sm-3">
            <NavBar />
        </div>
        <div class="col-sm-9">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </div>
</main>

@code
{
    #nullable enable

    public void SetTitle(string title)
    {
        _pageTitle = title;
        StateHasChanged();
    }

    private string _pageTitle = string.Empty;
}
