<nav>
    <nav class="nav nav-pills nav-fill flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="test1" Match="NavLinkMatch.All">
            Test1
        </NavLink>
        <NavLink class="nav-link" href="test2" Match="NavLinkMatch.All">
            Test2
        </NavLink>
    </nav>
</nav>