@using RecipeBook.Core.Domain.Recipes
<li class="item container flex-row p-0">
    <div class="row m-0">
        <div class="col-auto p-0">
            <img class="picture" src="@Recipe.ImagePath" alt="@Recipe.Name"/>
        </div>
        <div class="col-sm p-0">
            <div class="p-2">
                <h3 class="mb-0" style="text-decoration: none;">@Recipe.Name</h3>
                @if (Recipe.Rating is not null)
                {
                    <p>Betyg: @(Recipe.Rating)/10</p>
                }
                else
                {
                    <p>Inget betyg</p>
                }
            </div>
        </div>
    </div>
</li>

@code {
#nullable enable

    [Parameter]
    public Recipe Recipe { get; set; } = null!;

}