@typeparam TResource

<div class="container-fluid">
    <div class="row">
        <div class="col-11 p-0">
            @ChildContent
        </div>
        <div class="col-1 p-0">
            <button class="btn-close mt-2" @onclick="() => DeleteItem.InvokeAsync()"></button>
        </div>
    </div>
</div>

@code {
#nullable enable

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public EventCallback DeleteItem { get; set; }

}